In [112]:
# Libraries 
import pandas as pd
import numpy as np

In [114]:
# Loading the dataset
blood_pressure_df = pd.read_csv(r'C:\Users\jugal\OneDrive\Documents\Ironhack_project\Final_project\merged_data.csv')
demo_df =  pd.read_csv(r'C:\Users\jugal\OneDrive\Documents\Ironhack_project\Final_project\demo_data.csv')

In [116]:
blood_pressure_df.head()

,SEQN,BPAOARM,BPAOCSZ,BPXOSY1,BPXODI1,BPXOSY2,BPXODI2,BPXOSY3,BPXODI3,BMDSTATS,BMXWT,BMXHT,BMXBMI,BMDBMIC,BMXLEG,BMXARML,BMXARMC,BMXWAIST,BMXHIP
0,109264.0,R,3.0,109.0,67.0,109.0,68.0,106.0,66.0,1.0,42.2,154.7,17.6,2.0,36.3,33.8,22.7,63.8,85.0
1,109266.0,R,4.0,99.0,56.0,99.0,55.0,99.0,52.0,1.0,97.1,160.2,37.8,2.0,40.8,34.7,35.8,117.9,126.1
2,109270.0,R,3.0,123.0,73.0,124.0,77.0,127.0,70.0,1.0,75.3,156.0,30.9,4.0,42.6,36.1,31.0,91.4,103.4
3,109271.0,R,4.0,102.0,65.0,108.0,68.0,111.0,68.0,1.0,98.8,182.3,29.7,2.0,40.1,42.0,38.2,120.4,108.2
4,109273.0,R,3.0,116.0,68.0,110.0,66.0,115.0,68.0,1.0,74.3,184.2,21.9,2.0,41.0,41.1,30.2,86.8,94.5

In [118]:
demo_df.head()

,SEQN,Survery_year,Age,Gender,Education,Ethnicity,incom_to_pov_ratio
0,109263.0,66.0,2.0,Male,Unknowm,Other Race,4.66
1,109264.0,66.0,13.0,Female,Unknowm,Mexican American,0.83
2,109265.0,66.0,2.0,Male,Unknowm,Non-Hispanic White,3.06
3,109266.0,66.0,29.0,Female,5.0,Other Race,5.00
4,109267.0,66.0,21.0,Female,4.0,Other Hispanic,5.00

In [120]:
# Checking the common columns that can be used for merging
print("Blood Pressure Dataset Columns:", blood_pressure_df.columns.tolist())
print("\nDemographic Dataset Columns:", demo_df.columns.tolist())

Blood Pressure Dataset Columns: ['SEQN', 'BPAOARM', 'BPAOCSZ', 'BPXOSY1', 'BPXODI1', 'BPXOSY2', 'BPXODI2', 'BPXOSY3', 'BPXODI3', 'BMDSTATS', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMDBMIC', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'BMXHIP']

Demographic Dataset Columns: ['SEQN', 'Survery_year', 'Age', 'Gender', 'Education', 'Ethnicity', 'incom_to_pov_ratio']

In [122]:
# Mergin 2 csv files
combined_data = pd.merge(blood_pressure_df, demo_df, on='SEQN', how='inner')

In [124]:
# checking null values
combined_data.isna().sum()

SEQN                    0
BPAOARM               881
BPAOCSZ                 0
BPXOSY1                 0
BPXODI1                 0
BPXOSY2                 0
BPXODI2                 0
BPXOSY3                 0
BPXODI3                 0
BMDSTATS                0
BMXWT                   0
BMXHT                   0
BMXBMI                  0
BMDBMIC                 0
BMXLEG                  0
BMXARML                 0
BMXARMC                 0
BMXWAIST                0
BMXHIP                  0
Survery_year            0
Age                     0
Gender                  0
Education               0
Ethnicity               0
incom_to_pov_ratio      0
dtype: int64

In [126]:
# Checking dupliates
combined_data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10347    False
10348    False
10349    False
10350    False
10351    False
Length: 10352, dtype: bool

In [128]:
combined_data.describe()

,SEQN,BPAOCSZ,BPXOSY1,BPXODI1,BPXOSY2,BPXODI2,BPXOSY3,BPXODI3,BMDSTATS,BMXWT,...,BMXBMI,BMDBMIC,BMXLEG,BMXARML,BMXARMC,BMXWAIST,BMXHIP,Survery_year,Age,incom_to_pov_ratio
count,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,...,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.000000,10352.0,10352.000000,1.035200e+04
mean,117120.948706,3.501449,120.004637,72.035742,119.673565,71.565664,119.526372,71.415958,1.078053,77.120914,...,28.191808,2.164413,38.841180,36.792552,32.002048,94.958539,105.520914,66.0,41.044049,2.427984e+00
std,4505.494540,0.694457,19.950131,12.416883,19.825602,12.519325,19.749779,12.631840,0.391304,25.685242,...,7.841979,0.532053,4.039978,3.543045,6.175761,19.580103,14.009150,0.0,22.402532,1.535376e+00
min,109264.000000,2.000000,52.000000,31.000000,54.000000,28.000000,55.000000,30.000000,1.000000,18.400000,...,12.500000,1.000000,25.000000,23.200000,14.800000,46.600000,62.500000,66.0,8.000000,5.397605e-79
25%,113199.750000,3.000000,106.000000,63.000000,106.000000,63.000000,106.000000,63.000000,1.000000,60.300000,...,22.800000,2.000000,36.200000,34.800000,28.000000,81.200000,96.700000,66.0,19.000000,1.200000e+00
50%,117150.500000,3.000000,117.000000,71.000000,116.000000,71.000000,117.000000,70.000000,1.000000,75.000000,...,27.200000,2.000000,38.900000,37.000000,31.900000,94.000000,103.400000,66.0,41.000000,1.960000e+00
75%,121065.500000,4.000000,130.000000,80.000000,130.000000,79.000000,130.000000,79.000000,1.000000,91.425000,...,32.400000,2.000000,41.500000,39.100000,35.900000,107.500000,111.500000,66.0,61.000000,3.680000e+00
max,124822.000000,5.000000,225.000000,151.000000,222.000000,146.000000,220.000000,176.000000,4.000000,223.500000,...,80.600000,4.000000,55.000000,49.900000,58.900000,187.500000,187.500000,66.0,80.000000,5.000000e+00

In [130]:
# Saving the data to a csv file
combined_data.to_csv('merged_blood_pressure_demographic_data.csv', index=False)